.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
body{
    background: radial-gradient(circle at 100%, #222, #333 50%, #666 75%);
    color: white;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
    font-weight: bold;
}