.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
body{
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
}
#titre{
    color: white;
}