@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.copyright {
    background-color: #007B60;
    color: white;
    text-align: right;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #007B60;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #555;
    color: #aaa;
}

a[href]:hover {
    color: #3ba0e6;
}

#fond{
    background-color: #eee;
    display: block;
    min-height: 100%;
    height: 100%;
}
html, body {
    height: 100%;
}