@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.copyright {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #222;
    color: #aaa;
}

/*barre haut*/
.barre-haut li a {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

a[href]:hover {
    color: #3ba0e6;
}

a[href],
h1 {
    color: #1e8ad6;
}